body{
	background-image: url("../img/bg_dotted.png");
}
.test1{
	background-color: green;
	border: solid 1px;
	border-color: grey;
}

.test2{
	background-color: yellow;
	border: solid 1px;
	border-color: grey;
}

.img-hg-200{
	margin-top: 10px;
	max-height: 200px;
}